
VK_GROUP_TOKEN=vk1.a.FRhXZDgGlS84X8b2dt4fTK4EZNFkkV1G52QHpSV3LdzkGcYCqwSYGZ6doLuqhbttLqZffVajQGoJ1GdXoO9X7Ii7vI8s9Il15hXBVzQ2DNMCRQKf7Kz_7Kp9Sn5tN_cqzg3jti7RlS3o5sv5RUdlXYETevE5-K044A9MLjPhF_Ygj0oz51z8tq3wPthd06ZNZQp7pxAlt7Wrh_9yRdaTJg

VK_GROUP_ID=237089812

VK_BOT_SECRET=COhQw4vFSwpFC89pWAPDZMxd1

NEXUS_SERVER=http://127.0.0.1:8080

NEXUS_PUBLIC_URL=https://vk.com/club237089812
