DOCKER_USER=ваш_логин_docker_hub
DOCKER_PASS=ваш_токен_или_пароль_docker_hub

AWS_ACCESS_KEY_ID=ключ_из_панели_timeweb_s3
AWS_SECRET_ACCESS_KEY=секрет_из_панели_timeweb_s3

RUN_CERTBOT=0
CERTBOT_EMAIL=you@example.com
WITH_TSPU=1
