
JWT_SECRET=EPm3pCC3jwEVdnMudb5RSpqGTs5xmSsV4oqqenR2


NEXUS_BOOTSTRAP_ADMIN_EMAIL=igor-vinogradov04@yandex.ru


RATE_LIMIT_ENABLED=1

OTP_WEBHOOK_URL=http://host.docker.internal:9090/send-otp.php
OTP_WEBHOOK_SECRET=Et9L3wd5LBkaVnvdgIrF4iW8KNzAyIWOVtN5Puio
PUBLIC_WEB_BASE_URL=https://metrika-waypoint.ru/
