VITE_LYNX_CLOUD_URL=https://lynx-cloud.ru
VITE_LYNX_CABINET_URL=https://lynx-cloud.ru/cabinet
VITE_LYNX_AUTH_URL=http://127.0.0.1:8090
VITE_WAYPOINT_CLUB_URL=https://waypointclub.ru
VITE_WAYPOINT_METRIC_URL=https://metrika-waypoint.ru
VITE_ENGINE_MANIFEST_URL=https://api.lynx-cloud.ru/engine/manifest
VITE_LYNX_API_BASE=/lynx
VITE_HUB_ADMIN_PASSWORD=1DtcyfRozality@
VITE_HUB_ADMIN_TOKEN=1yXJxD99yzMsuUZVW8PNr9Y3kVovjW5ZA64jw4g2yHDUfkiG
